# Acceptable values are sandbox or production
ENVIRONMENT=

# Must match the values found in the corresponding production or sandbox environment
SQUARE_APPLICATION_ID=sandbox-sq0idb-VwqgN_zOnEPVQGzbPNMKDQ
SQUARE_ACCESS_TOKEN=EAAAl8LlAZtvXu4na9gLonjCDfnJuZSxon16pkFR5bF89CDBduo9HJ-s1wvP5SpX
SQUARE_LOCATION_ID=L8XX876JN6ZSH