@media (max-width: 1199px) {
    #mainmenu li a {
    font-size: 14px!important;
    padding: 0px 4px!important;
}
div#logo img.logo-main {
    width: 94px;
}
.second_logo_main {
    width: 82px;
    left: 5px;
}
header.transparent a.bg_bnt_custom {
    padding: 6px 5px;
}
.add_to_card {
    margin-right: 17px;
}
#mainmenu li a:after {
    margin-left: 4px;
    position: relative;
    top: 4px;
}

}

@media (max-width: 1123px) {
header.transparent a.bg_bnt_custom {
    padding: 4px 8px;
    font-size: 11px;
}

}

@media (max-width: 991px) {
.col-auto.ms-auto.d-md-none.nav-toggle-wrap {
    display: block!important;
}

}

@media (max-width: 768px) {
    
li.dropdown-parent:after {
    content: "\f282";
    position: absolute;
    top: 7px;
    right: 29px;
    width: 10px;
    height: 10px;
    font-family: "bootstrap-icons";
    font-size: 13px;
    color: #ffffff;
    z-index: -1;
}
#mainnav {
    position: fixed;
    width: 86vw;
}
.Unforgettable_Birthday_section .col-md-6:nth-child(2) {
    order: -1;
}
    .AWARD_banne_AWARd_home_img img {
    width: 85px;
}
.home_baneer_section .col-lg-7 {
    order: -1;
    margin-bottom: 9px;
}
.sw-caption .col-lg-7 {
    order: -1;
}
.home_video_section {
    margin-top: 0;
    margin-bottom: 0;
}
.home_video_section .heading_main_section {
    padding: 0 15px;
}
.Summer_cmp_section_home {
    margin-top: 0;
}
.video_play_add {
    margin-top: 20px!important;
}
.heading_main_section p br {
    display: none;
}

span.ca-chip {
    padding: 0px 6px;
    font-size:14px;
}
.choose-adventure .ca-heading {
    font-size: 29px;
    margin-top: 15px;
}
.choose-adventure .ca-badges {
    gap: 6px;
    margin: 13px 0;
}
.choose-adventure .ca-badge {
    padding: 5px 8px;
    gap: 4px;
    font-size: 13px;
}

.choose-adventure .col-md-3 {
    display: none;
}
.col-md-3.choose-adventure_game {
    display: block;
    position: fixed;
    z-index: 99;
    background: #000002;
    margin: 0;
    padding: 0;
    width: 100%;
    left: 0;
    top: 0;
    padding-top: 114px;
    height: 100vh;
    overflow: scroll;
}
.choose_all_page_resposnive_toggle {
    position: fixed;
    top: 40px;
    right: 0;
    background: #00d4ff;
    z-index: 999;
    width: fit-content;
    padding: 8px 10px;
    border-radius: 4px;
    color: #000;
    display: flex;
    /* -webkit-writing-mode: vertical-lr; */
}
.choose_all_page_resposnive_toggle p {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 7px;
    font-size: 13px;
    font-weight: 800;
}

.col-md-3.choose-adventure_game h5.ca-title.mb-3 {
    display: none;
}
.choose-adventure .ca-item .ca-item-meta ,.choose-adventure .ca-rating {
    display: none;
}
.escpe_room_right_data_items {
    padding-top: 52px;
    padding-bottom: 35px;
}
.escape_room_home_comparison {
    margin-top: 25px;
    margin-bottom: 30px;
}
.vr_page_banner_content img {
    width: 250px;
    object-fit: contain
}
.leaderboard_section {
    max-width: 100%;
}
.leaderboard-table tbody td {
    padding: 9px 13px;
    font-size: 14px;
}
.SPACE_MARINE_VR h5 {
    font-size: 27px;
    margin-bottom: 6px;
    color: #00d4ff;
}
.AWARD_banne_AWARd_home_img {
    justify-content: center;
}
.team-transform-section .Corporate_Team_Building_card i {
    width: 40px;
    height: 40px;
    font-size: 16px;
    margin-top: 18px;
}
.team-transform-section .form-group {
    display: block;
    margin-bottom: 0;
}
.team-transform-section .contact-form .form-group input, .team-transform-section .contact-form .form-group select, .team-transform-section .contact-form .form-group textarea {
 
    margin-bottom:21px;
}
.error-msg {
    font-size: 9px;
    bottom: 6px;
    left: 1px;
}
.team-transform-section .form-group> div {
    width: 100%!important;
}
.serviceEnquiryForm_mobnileduh {
    margin-bottom: 16px;
}
.serviceEnquiryForm_mobnileduh span.error-msg {
    bottom: -7px;
}

.vr_page_banner_add_log_top {
    bottom: -25px;
}
.Party_contact_form_section {
    padding: 0;
}
.Party_contact_form_info, .Party_contact_form_form {
    padding: 0;
    border-radius: 0px;
    background: transparent;
}
.Party_contact_form_form input, .Party_contact_form_form textarea {
    border-radius: 6px;
    font-size: 14px;
}
li.responsive_menu_show_d {
    display: block!important;
}

.Areas_pages_data {
    margin: 25px auto;
    margin-top: 70px;
}
.Areas_pages_data h1 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 0;
}
.Areas_pages_data h2 {
    font-size: 1.35em;
    margin-top: 12px;
    margin-bottom: 2px;
    font-size: 20px;
}
.Areas_pages_data p {
    font-size: 16px;
}
.Areas_pages_data hr {
    height: 2px;
    margin: 17px 0!important;
}
.Areas_pages_data iframe {
    height: 200px;
    border-radius: 12px;
}
.Areas_pages_data img {
    height: 200px;
}
.checklist-title-h {
    font-size: 18px;
    text-align: left;
    letter-spacing: 0;
    margin-bottom: 10px;
}
.Areas_pages_data ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.checklist-list-h {
    gap: 0;
}
.checklist-item-h.vr-waiver_check {
    padding: 5px 15px;
}
.checklist-label-h {
    letter-spacing: 0;
    font-size: 13px;
}
.checklist-checkbox-h {
    appearance: none;
    width: 13px;
    height: 13px;
    border: 1.5px solid #00d4ff;
    border-radius: 3px;
    margin-right: 7px;
}
.checklist-container-h {
    background: transparent;
    padding: 24px 0;
    margin: 30px auto;
    margin-bottom: 0;
}
.Areas_pages_data {
    padding: 0;
    background: transparent;
}
.Areas_pages_data li {
    margin-bottom: 8px;
    margin-right: 7px;
}
.vr-waiver_form_ {
    display: block;
}
.form-input.area {
    flex-basis: auto;
}
.vr-waiver_form_ .form-input, .minor-fields input.form-input {
    padding: 7px 6px;
    font-size: 13px;
            width: 100%;
        margin-bottom: 5px;
}
.signature-pad-box {
    gap: 1px;
    margin-top: 1px;
}
.signature-canvas {
    width: 100%;
    height: 100px;
}
.minor-clear-btn {
    padding: 3px 21px;
    font-size: 14px;
}
.Our_Indoor_Escape {
    margin-top: 0!important;
    margin-bottom: 0!important;
}
.ENTER_NEW_WORLD_img img {
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
}
.our_indore_list p {
    margin-bottom: 18px;
}
.flatpickr-current-month select {
    background: transparent;
    box-shadow: none;
}
.Our_Indoor_Escape h2 {
    margin-bottom: 0!important;
    font-size: 20px!important;
}
.filters_Standard_select select {
    padding: 8px 5px;
}
/*============*/
.custom-heading {
    font-size: 16px;
    letter-spacing: normal;
}
div#carouselExampleFade .carousel-item img {
    height: 150px;
    object-fit: cover;
}
.custom-arrow {
    width: 20px;
    height: 20px;
}
.arrow-content {
    font-size: 14px;
}
.custom-modal {
    padding: 00;
}
.stat-box {
    padding: 4px 11px;
}
.stat-label {
    font-size: 11px;
    padding: 0;
    line-height: normal;
    margin: 0;
}
.modal_Beginner_badel {
    font-size: 11px;
    position: absolute;
    top: 0;
    z-index: 99;
    top: 26px;
    right: 25px;
}
.game-stats {
    gap: 7px!important;
}
.modal_info_p {
    margin-bottom: 12px;
}
.modal-dialog {
    max-width: 94%;
    width: 100%;
    margin: 0;
    margin: 10px auto;
}
.modal-header {
    padding: 9px 12px;
}
.close-btn {
    width: 24px;
    height: 25px;
    font-size: 13px;
}
.custom-modal .modal-body .all_button_main_header a {
    margin: 0 5px;
}
.booking_date_multi_bnt .all_button_main_header span {
    display: none;
}
.summary-row-group, .booking-summary-box_add_on {
    margin-bottom: 0;
    border: 2px solid #00d4ff1f;
    box-shadow: #40686fb8 0px 3px 8px;
    border-radius: 12px;
    padding: 0;
    border: 0;
    box-shadow: none;
}
#sidebar {
    padding-left: 0;
}
.party_not_sub_new_add {
    padding: 0 19px;
}
/*==================*/

.Confirmation_so_butn_flex {
    display: block;
    gap: 42px;
    margin-top: 10px;
}
.Confirmation_so_butn_flex_box {
    width: 100%;
    margin-top: 14px;
}
.SPACE_MARINE_VR p {
    padding: 0 0px;
}
.Unforgettable_Birthday_slider {
    margin-top: 58px;
}
section.Unforgettable_Birthday_section .container {
    padding: 0!important;
}
.booking_card_time_and_price p {
    font-size: 16px!important;
}


.swiper-pagination {
    font-size: 15px;
    right: 15px;
    bottom: 15px;
    display: block!important;
}
.swiper-pagination-current {
    font-size: 19px;
}
.Experience_Gallery .gallery-item img {
    height: 125px;
    object-fit: cover;
}
section.portable_baner_section {
    margin-top: 72px;
}
.vr_game_zik_zak_lable .row:nth-child(3) .col-sm-6:nth-child(1) {
    /*order: -1;*/
}
.gaming-container button.owl-next, .collcrion_sum button.owl-next, .review_section button.owl-next, .escapeRoomReviewsSlider .owl-next {
    width: 22%;
    bottom: -20px;
}
.gaming-container button.owl-prev, .collcrion_sum button.owl-prev, .review_section button.owl-prev, .escapeRoomReviewsSlider .owl-prev {
    width: 22%;
    bottom: -20px;
}
div#ourclinets .owl-dots {
    display: none;
}
form#serviceEnquiryForm {
    margin-top: 11px;
}
textarea {
    min-height: 80px!important;
    width:100%;
}
ul.submenu li {
    padding-right: 0px !important;
    padding-left: 8px!important;
}
.Why_Choose_VR .section_heading_page h2.section-title {
    padding: 0 12px!important;
}
.success_icon_3d {
    margin-bottom: 0!important;
}
.booking_banner.booking_success_banner {
    margin-top: 60px;
}
.success_icon_3d {
    margin-bottom: 26px!important;
    font-size: 54px!important;
}
.modal-header .btn-close {
    margin: 0!important;
}
.voucher_code__flex {
    display: block;
}
.voucher-btn-wrap .bg_bnt_custom {
    padding: 2px 12px!important;
    margin-top: 9px;
}
.container {
    padding-left: 12px;
    padding-right: 12px;
}
.Boo_Prison_Escape_calendar_box .flatpickr-days {
    grid-template-columns: inherit!important;
}
.flatpickr-months .flatpickr-prev-month, .flatpickr-months .flatpickr-next-month {
    top: -4px;
}
select.Boo_Prison_Escape_select {
    text-align: left;
}
.flatpickr-calendar:before {
    display: none;
}
.all_box_full_width.SPACE_MARINE_VR_section.vr_game_zik_zak_lable .row:nth-child(3) .col-sm-6:nth-child(1) {
    border-radius: 0;
    margin-bottom: 0;
    padding: 0!important;
    padding: 0px !important;
    border-top: 1px solid #0CDEDE;
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    border-bottom: 0;
    order: -1;
}
.all_box_full_width.SPACE_MARINE_VR_section.vr_game_zik_zak_lable .row:nth-child(3) .col-sm-6:nth-child(2) {
    padding: 0 12px !important;
    border-top: 0;
    border-radius: 0!important;
    border-bottom: 1px solid #0CDEDE;
    margin-bottom: 19px;
    padding-bottom: 13px!important;
    border-bottom-left-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
}
.vr_game_slider .owl-nav button.owl-prev, .vr_game_slider .owl-nav button.owl-next {
    width: 25%!important;
}
.Boo_Prison_Escape_time_box .flatpickr-current-month {
    padding-top: 0;
    top: -4px;
}

.escape_room_home_Customer_Reviews_card {
    height: auto!important;
    margin-bottom: 25px;
}
.escape_room_home_Customer_Reviews_card p {
    margin-top: 11px;
}
.escapeRoomReviewsSlider {
    margin-bottom: 17px;
}
.ENTER_NEW_WORLD_Content h3 {
    font-size: 24px;
    margin-bottom: 4px;
}
.booking_card_img img {
    object-fit: contain;
    object-position: top;
}
.mobile_card_toggle_button {
    display: flex;
    justify-content: right;
    align-items: center;
}
.add_to_card .cart-count {
    font-size: 9px;
    width: 15px;
    height: 15px;
    display: flex!important;
    justify-content: center;
    align-items: anchor-center;
    line-height: 15px;
        top: -11px!important;
    right: -9px!important;
}
.add_to_card i {
    font-size: 23px;
    color: #fff;
}
.add_to_card {
    margin-right: 10px;
}
.Experience_Gallery .gallery-item {
    margin-bottom: 0;
}
.award-medal {
    display: inline-block;
    min-width: 21%;
    padding: 0;
    font-size: 14px;
}

}

@media screen and (min-device-width: 576px) and (max-device-width: 768px) { 
    .all_box_full_width .row .col-sm-6 {
    border: none!important;
}
}

@media screen and (min-device-width: 769px) and (max-device-width: 979px) { 
.gaming-container button.owl-prev, .collcrion_sum button.owl-prev, .review_section button.owl-prev ,.gaming-container button.owl-next, .collcrion_sum button.owl-next,  .review_section button.owl-next{
    width: 30%;
}
.mobile_card_toggle_button .add_to_card {
    display: none;
}
.ENTER_NEW_WORLD_img {
    height: 300px;
}
.ENTER_NEW_WORLD_Content h3 {
    font-size: 22px;
}
.error-msg {
    font-size: 12px!important;
    margin-top: 9px!important;
}
}